<%- include("partials/header"); -%>

    <div class="contact">

        <h3>Sujay Biswas</h3>
        <h4>sujay00005@gmail.com</h4>
        <h4>+91-7292998781</h4>
    </div>

    </body>

    </html>